$headerColor : #502F4C;
.container-contact{
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    
   form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        margin: 5px;
        padding: 5px;
        width: 400px;
        border:none;
        border-bottom: 1px solid $headerColor ;
    }
    input[type=submit]{
        border-bottom: none;
        background-color: $headerColor;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        width: 400px;
    }
    input[type=submit]:hover{
    background-color: #581851;
   }
}
}