$ColorBlue : #fff;
$textColor: #010101;



.container-home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #ffffff;
   
  
    div{
        max-width: 500px;
        max-height: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        position: relative;
    }

        h1{

            margin: 20px 0;
            color: $textColor;
            font-size: 100px;
            font-weight: 700;
        }
        p{
            margin: 20px 0;
            width: 70%;
            color: $textColor;
            line-height: 1.5;
        }
        
       
    
    img{
        width: 30%;
        margin: 5px;
    }
   
}




