$ColorBlue : #fff;
$textColor: #fff;


.container-home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
    div{
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        
        h1{

            margin: 20px 0;
            color: $textColor;
            font-size: 100px;
            font-weight: 700;
        }
        p{
            margin: 20px 0;
            width: 70%;
            color: $textColor;
            line-height: 1.5;
        }
        button{
            width: 150px;
            background-color: $ColorBlue;
            color: #fff;
            font-weight: bold;
            border: none;
            border-radius: 25px;
            height: 35px;
        }
    }
    img{
        width: 30%;
        margin: 5px;
    }
   
}


main{
    background-image: url("../../img/background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
}
