
.container-sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    img{
        width: 300px;
        height: 300px;

    }
    p{
        margin: 5%;
        max-width: 600px;
        line-height: 30px;
        color: #000;
    }
}