$Color: #fff;
$textColor: #ffffff;


.adress{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

footer {
  padding: 0px;
  margin: 0;
 
  position: relative;
  bottom: 0;
  flex-wrap: wrap;
  padding: 2px;
  display: flex; 
  opacity:0.6;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #251d1d;

  color: $textColor;
  
  p {
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }
}

.git {
  margin: 0 5px;
  font-size: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-weight: 100;
  padding: 5px;
  span {
    align-items: center;
  }
}
